
<div class="row">
  <div class="col-md-8">


    <tabset id="conversations">
      <tab ng-repeat="conversation in $currentUser.$activeConversations()"
           select="$broadcast('tab.active'); selectConversation(conversation)"
           active="conversation.$$displayed">

        <tab-heading>
          <span ng-repeat="user in conversation.$users() | filter : { $id : '!'+ $currentUser.$id } ">
            <span class="label label-success" ng-if="user.presence">{{user.name}}</span>
            <span class="label label-default" ng-if="!user.presence">{{user.name}}</span>
            <span ng-if="$even && !$last">,</span>
          </span>
          <span unread-messages user="$currentUser" conversation="conversation"></span>
          <span class="close-tab"><span class="glyphicon glyphicon-remove" ng-click="closeConv($event, conversation)"></span></span>
        </tab-heading>
        <!--<p ng-show="loading">loading</p>-->
        <div class="filler" scroller z-infinite-scroll="loadMore(conversation)" inverse="true">

          <blockquote class="message"
            ng-class="message.userId == $currentUser.$id ? 'blockquote-reverse' : ''"
            ng-repeat="message in conversation.$$messages | orderBy:createdAt:true"
            message
            ng-if="message.$$loaded">

            <p>{{message.content}}</p>
            <footer>
              {{message.userId == $currentUser.$id ? 'You' : message.$user().name }} wrote
              <span am-time-ago="message.createdAt"></span>
              <span tooltip-append-to-body="true" tooltip="{{user.name}} red it {{message.$redAtBy(user) | amTimeAgo }}" class="glyphicon glyphicon-ok" ng-repeat="user in conversation.$users() | filter:{$id: '!'+$currentUser.$id}:true" ng-if="message.$redAtBy(user)"></span >
            </footer>
          </blockquote>

        </div>

        <!--<div class="well" ng-if="$currentUser.$activeConversations().length == 0">-->
          <!--Click on a user link to talk with him-->
        <!--</div>-->

        <form name="form" id="new-message-form" ng-submit="saveMessage(conversation)">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-chevron-right" ng-class="$currentUser.presence ? 'text-primary' : ''"></span>
            </span>
            <input type="text" class="form-control" ng-model="newMessage.content" auto-focus ng-required="true"/>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary btn-submit">Send</button>
            </span>
          </div>
        </form>

      </tab>
    </tabset>

    <!--<div class="tab-content" id="messages">-->
      <!-- -->
    <!--</div>-->
  </div>
  <div class="col-md-4">
    <h2>Users</h2>
    <div class="filler list-group" z-infinite-scroll="loadUsers">
      <a href="#"
         class="list-group-item"
         ng-repeat="user in users | orderBy : 'presence'"
         ng-click="talkTo(user)">
        <span class="glyphicon glyphicon-user"></span>
        <span>{{user.name}}</span>
        <!--ng-if="unreadMessages"-->
        <span ng-if="$currentUser.$id == user.$id">(me)</span>
        <span class="label label-success" ng-if="user.presence">online</span>
        <span class="label label-default" ng-if="!user.presence">offline</span>
        <span unread-messages user="$currentUser" conversation="$currentUser.$conversationWith(user)"></span>
      </a>
    </div>
  </div>
</div>