/* navbar form */

.navbar form .glyphicon{
  font-size: 24px;
  top: 8px;
}
.navbar form input.form-control{
  color: white;
  font-weight: bold;
  background: rgba(34,34,34,0.73);
}
.navbar form input.form-control:focus{
  color: black;
  background: white;
}

/* conversation nav */

tabset{
  min-height: 42px;
}

/* tab panes */
.close-tab{
  cursor: pointer!important;
  color: black!important;
  position: relative;
  top: 2px;
}
.tab-content{
  margin-top: 20px;
}
.filler{
  height: 300px;
  padding-right: 20px;
  overflow-y: auto;
  margin-bottom: 20px;
}
/* messages */
/*.message{*/
  /*margin-right: 30%;*/
/*}*/
/*.message.mine{*/
  /*margin-right: 0;*/
  /*margin-left: 30%;*/
/*}*/
/* message form */

#new-message-form .input-group-addon{
  background: white;
}

/* users list */
h2{
  margin-top: 0;
}
#users-list{
  overflow-y: auto;
}