<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AngularFire Resource Chat Demo</a>
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapse=!isCollapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div collapse="!!!isCollapse" class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://github.com/itkin/angularfire-resource">Sources</a></li>
        <li><a href="http://itkin.github.io/angularfire-resource/doc/index.html">Documentation</a></li>
        <li><a href="https://fireresourcetest.firebaseio.com/">Data</a></li>
      </ul>
      <form class="navbar-form navbar-right" id="current-user-form">
        <div class="input-group">
          <input type="text" class="form-control" ng-model-options="{debounce: 200}" ng-model="$currentUser.name"/>
          <span class="input-group-btn">
            <a href="#" class="btn btn-danger" ng-click="logout()">logout</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          AngularFire Resource demo
        </h1>
      </div>
    </div>
  </div>
  <ui-view/>
  <footer>
    <p>&copy; Company 2014</p>
  </footer>
</div>